.title {
    margin-left: 41px;
  }
  
header {
    height: 62px;
    background-color: var(--color-bg-first);
    display: flex;
    align-items: center;  
}

header h1 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-first);
}