@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
 --color-bg-first: #1890FF;
 --color-bg-second:#FFF;
 --color-bg-third:#E6F7FF;
 --color-bg-fourth: #F5F5F5;

 --color-first:#FFF;
 --color-second:#000;
 --color-third: #7E7E7E;
 --color-fourth: #262626;
 --color-fifth: #BFBFBF;
 --color-sixth: #5C5858;
 --color-seventh: #1890FF;
 --color-eighth: #737373;

--color-border: #D9D9D9;

--color-link: #0029FF;

}

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Roboto"; 
}

a, a:hover {
  text-decoration: none;
  color: #0029FF;
}

.container {
  width: 100%;
  max-width: 1250px;
}